<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Визитка</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
  </head>
  <body>
    <header class="main-title">
      Визитка
    </header>
    <article class="main-content">
      <img class="profile-photo" title="Рядом с гранитом науки" src="{{ asset('img/photo.jpg') }}" />
      <div class="content-text">
        <h2 class="content-text__title">О себе</h2>
        <ul class="content-text__text">
          <li>Привет, посетитель этой странички! Меня зовут <strong>{{ name }}</strong>, мне {{ age }} лет, я студент первого курса ПГТУ - ФИиВТ - ПС.</li>
          <li>Закончил школу в <strong>Йошкар-Оле</strong>: 9 класс в СОШ №1 и 11 клаcc в Политехническом лицее.</li>
          <li>Был наслышан о <i>"фивте"</i> с ранних лет. Меня всегла увлекала профессия программиста, поэтому решил поступать именно сюда.</li>
        </ul>
        <h2 class="content-text__title">Увлечения</h2>
        <p class="content-text__text">
          Свободное от учебы время провожу на свежем воздухе или играю дома на синтезаторе.<br />
          Когда за компьютером, пишу какие-нибудь интересные простенькие программы на языках, с которыми знакомлюсь во время учебы (сейчас в основном Pascal, C, PHP, Assembler), или редактирую веб-энциклопедию <a class="link" href="https://liquipedia.net/">liquipedia</a> посвященную киберспорту (или сам играю в игры конечно же).
        </p>
      </div>
    </article>
    <footer class="profile-link">
      <a class="link" href="https://vk.com/lich906">vk.com</a>
      <a class="link" href="mailto:{{ email }}">{{ email }}</a>
    </footer>
  </body>
</html>
